#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


#############
## CUSTOM
#############
.gitignore
application/views/templates_c/
application/config/database.php
application/config/config.php
system/
index.php
license.txt
.gitattributes
.htaccess
.project
license
.metadata
CYMS schema - with default user.sql
