/* login.tpl CSS */

.login-cont {
	width: 280px;
	margin: 0 auto;
	margin-top: 180px;
}

input[type="text"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input[type="password"] {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px;
}

.alert-danger {
	text-align: center;
}

.form-signin-heading {
	text-indent: -9999px;
	background-image: url(/cyms/assets/img/logo.gif);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center top;
	height: 206px;
}