/* login.tpl CSS */

.login-cont {
	width: 280px;
	margin: 0 auto;
	margin-top: 180px;
}

input[type="text"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input[type="password"] {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px;
}

.alert-danger {
	text-align: center;
}