.print-container {
	width: 8.5in !important;
	margin: 0 auto;
}

.print-container textarea {
	font-size: 10px;
}

.report-title {
	text-align: center;
}

.timestamp {
	text-align: right;
	font-style: italic;
}

.other-issues {
	border: 1px solid #6f6f6f;
	padding: 2px;
}

.other-issues p {
	font-size: 10px;
	font-style: italic;
}

.signature-title {
	margin-top: 20px;
	margin-bottom: 15px;
}

.signature p, .signature-title p {
	font-size: 10px;
	margin: 0px;
}

.signature p {
	text-align: center;
}

.signature .border-top {
	border-top: 1px solid #000000;
}

/* FSC OUTBOUND REPORT CSS */

.fsc-outbound-report table {
	margin: 10px;
	font-size: 10px;
	float: left;
}

.fsc-outbound-report table td, .fsc-outbound-report table th {
	text-align: center;
}

.fsc-outbound-report table, .fsc-outbound-report table th, .fsc-outbound-report table td {
	border: 1px solid #acacac;
}

.fsc-outbound-report table thead td {
	border: 1px solid #6f6f6f;
	background-color: #e9e9e9;
}

.fsc-outbound-report table thead td, .fsc-outbound-report table th {
	font-weight: bold;
}

.fsc-outbound-report .pending { 
	width: 270px;
}

.fsc-pending {
	width: 295px;
}

/*DEFECTIVE VANS REPORT */

.defective-vans-report table {
	width: 100%;
	margin: 10px 0;
	font-size: 12px;
	float: left;
}

.defective-vans-report table td, .defective-vans-report table th {
	text-align: center;
	padding: 4px;
}

.defective-vans-report table, .defective-vans-report table th, .defective-vans-report table td {
	border: 1px solid #acacac;
}

.defective-vans-report table thead td {
	border: 1px solid #6f6f6f;
	background-color: #e9e9e9;
}

.defective-vans-report table thead td, .defective-vans-report table th {
	font-weight: bold;
}

/*EMPTY VANS REPORT */

.empty-vans-report table {
	width: 100%;
	margin: 10px 0;
	font-size: 12px;
	float: left;
}

.empty-vans-report table td, .empty-vans-report table th {
	text-align: center;
	padding: 4px;
}

.empty-vans-report table, .empty-vans-report table th, .empty-vans-report table td {
	border: 1px solid #acacac;
}

.empty-vans-report table thead td {
	border: 1px solid #6f6f6f;
	background-color: #e9e9e9;
}

.empty-vans-report table thead td, .empty-vans-report table th {
	font-weight: bold;
}

/* SF PRINT REPORT */

.sf-preview-report-modal table {
	width: 100%;
	margin: 10px 0;
	font-size: 10px;
	float: left;
}

.sf-preview-report-modal table td, .sf-preview-report-modal table th {
	text-align: center;
	padding: 4px;
}

.sf-preview-report-modal table, .sf-preview-report-modal table th, .sf-preview-report-modal table td {
	border: 1px solid #acacac;
}

.sf-preview-report-modal table thead td {
	border: 1px solid #6f6f6f;
	background-color: #e9e9e9;
}

.sf-preview-report-modal table thead td, .sf-preview-report-modal table th {
	font-weight: bold;
}

.sf-preview-report-modal .signature-name {
	text-align: center;
	font-size: 10px;
	margin: 0;
}

/* Daily Inventory Report */

.daily-inventory-report table {
	margin: 10px;
	font-size: 10px;
	float: left;
}

.daily-inventory-report table td, .daily-inventory-report table th {
	text-align: center;
}

.daily-inventory-report table, .daily-inventory-report table th, .daily-inventory-report table td {
	border: 1px solid #acacac;
}

.daily-inventory-report table thead td {
	border: 1px solid #6f6f6f;
	background-color: #e9e9e9;
}

.daily-inventory-report table thead td, .daily-inventory-report table th {
	font-weight: bold;
}

/* Exit Pass */

.entry-field {
	display: none !important;
}

/* Per Table */

.pending {
	width: 400px;
}

/* Pre defines */

.i-9 {
	font-style: italic;
	font-size: 9px;
}

/* Print  CSS Global */ 

.print-hide {
	display: none;
}