.print-container {
	width: 8.5in !important;
	margin: 0 auto;
}

.print-container textarea {
	font-size: 10px;
}

.report-title {
	text-align: center;
}

.timestamp {
	text-align: right;
	font-style: italic;
}

.other-issues {
	border: 1px solid #6f6f6f;
	padding: 2px;
}

.other-issues p {
	font-size: 10px;
	font-style: italic;
}

.signature-title {
	margin-top: 20px;
	margin-bottom: 15px;
}

.signature p, .signature-title p {
	font-size: 10px;
	margin: 0px;
}

.signature p {
	text-align: center;
}

.signature .border-top {
	border-top: 1px solid #000000;
}

.reports-table {
	margin: 10px;
	font-size: 10px;
	float: left;
}

.reports-table td, .reports-table th {
	text-align: center;
}

.reports-table, .reports-table th, .reports-table td {
	border: 1px solid #acacac;
}

.reports-table thead td {
	border: 1px solid #6f6f6f;
	background-color: #e9e9e9;
}

.reports-table thead td, .reports-table th {
	font-weight: bold;
}

/* Per Table */

.pending {
	width: 400px;
}

/* Pre defines */

.i-9 {
	font-style: italic;
	font-size: 9px;
}

/* Bootstrap Overrides */

.modal-lg {
	width: 1048px !important;
}

