.absolute-hide {
	display: none !important;
}

.display-block {
    display: block !important;
}

.row.buffer-top {
	margin-top: 10px;
}

.faded {
	opacity: .6;
}

.disabled {
	pointer-events: none;
}

.action {
	cursor: pointer;
}

.color-swatch {
	border: 1px solid black;
	height: 1.5em;
	width: 5em;
}

.color-swatch-select {
    height: 1em;
    width: 2em;
    margin-right: 1em;
    border: 1px solid #DDDDDD;

    display: inline-block;
}

.check-selection.single-select {
	opacity: .8;
}

.help-inline {
    /*font-size: 12px;*/
    color: red;
    font-style: italic;
}

.has-radio-checkbox .checkbox-radio-label {
    vertical-align: middle;
}

.has-radio-checkbox [type="checkbox"], .has-radio-checkbox [type="radio"] {
    vertical-align: top;
}

#history .panel-body, #empty-vans .panel-body {
    overflow-y: scroll;
}

#history .panel-body {
    max-height: 220px;
}

#empty-vans .panel-body {
    max-height: 220px;
}

#pending .panel-body {
    height: 165px;
}

#filter-list {
    margin-top: 1em;
    overflow-y: scroll;
    height: 100%px;
}

.filter-list-container {
    height: 875px;
}



/* BOOTSTRAP OVERRIDE */
table.table.table-borderless th, table.table.table-borderless td {
	border: 0;
}

	/* select2 */
.form-control .select2-choice {
    border: 0 !important;
    border-radius: 2px !important;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;   
}

.form-control.select2-container {
    height: auto !important;
    padding: 0px;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

.text-sub {
    font-size: 12px;
}

/* jQuery UI OVERRIDE */
.ui-autocomplete {
	z-index: 1051 !important;	/* right in front bootstrap modal */
}